<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inmobiliaria_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo">Inmobiliaria</div>
        <nav>
            <a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
            <a asp-controller="Inquilino"><i class="fas fa-building"></i> <span>Inquilinos</span></a>
            <a asp-controller="Propietario"><i class="fas fa-bug"></i> <span>Propietarios</span></a>
            <a asp-controller="Inmueble"><i class="fas fa-bug"></i> <span>Inmueble</span></a>
            <a asp-controller="Contrato"><i class="fas fa-bug"></i><span>Contrato</span></a>

        </nav>
    </div>

    <div class="main-container">
        <div class="topnav">
            <div class="user-info">

                <div>
                    <div class="email">example@mail.com</div>
                    <div class="role">Administrador</div>
                </div>
                <i class="fas fa-comment-alt" style="margin:0 10px; cursor:pointer;"></i>
                <i class="fas fa-bell" style="cursor:pointer;"></i>
            </div>
        </div>

        <div class="content">

        </div>

        <div class="container"></div>
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
