* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.sidebar {
  max-width: 300px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5rem;
}

.logo img {
  max-width: 200px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: #dadada;
  font-size: 0.95rem;
  transition: background 0.2s;
}

.sidebar nav a:hover {
  background-color: #bdbdbd17;
  border-radius: 10px;
}

.sidebar nav a i {
  margin-right: 10px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  margin: 30px;
  border-radius: 20px;
}

.main {
  padding: 3rem;
  height: 100%;
}

.topnav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.topnav .user-info {
  display: flex;
  align-items: center;
}

.topnav .user-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.topnav .user-info .email {
  margin-right: 15px;
  font-size: 0.9rem;
  color: #555;
}

.topnav .user-info .role {
  font-size: 0.8rem;
  color: #888;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

.small-font {
  font-size: 0.85rem;
}
.small-placeholder::placeholder {
  font-size: 0.85rem;
  color: #999;
}

.btn {
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar nav a span {
    display: none;
  }
}

@media (max-width: 480px) {
  .topnav {
    justify-content: center;
  }

  .topnav .user-info .email,
  .topnav .user-info .role {
    display: none;
  }
}
