@model inmobiliaria_mvc.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <partial name="_FormUsuario" model="Model" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Volver a Lista</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}