@model inmobiliaria_mvc.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <partial name="_FormUsuario" model="Model" />

            <div class="form-group mt-3">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <p>Avatar actual:</p>
                    <img src="@Model.Avatar" class="img-thumbnail mb-2" style="max-width:150px;" />
                }
                else
                {
                    <p><em>Sin avatar</em></p>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Volver a Lista</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}